h1{
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}



p{
  text-align: center;
  border-style: ridge;
  font-size: 20px;
  font-style: oblique;
  text-decoration: overline;
}

body{
  background-color: grey;
}

.carousel {
height:inherit;
  width: 100%;
}

.badge{
 size: 10px;
}

.col-lg-3 {

  border-style: inset;
  border-color: white;
  font-size: 30px;
}

.codeimg{

  text-align: center;f
}
